p {
    color: red;
    font-size: 22pt;
}

#gruby_gmerek {
    color: green;
    font-size: 17pt;
    font-weight: bold;
}

#dlawszyskich_gmerek {
    color: yellow;
    font-size: 10pt;
    font-family: Arial;
}