p#pogrubienie_gmerek {
    font-size: 25 + 7 * 6;
    color: #7d3223;
    font-weight: bold;
  }
  
  p#pochylona_gmerek {
    font-size: 30 + 7 * 6;
    color: #de9664;
    font-style: italic;
  }
  
  p#index_gorny_gmerek {
    font-size: 0.5cm + 0.1 * 7 * 6;
    color: #916423;
    vertical-align: super;
  }
  
  p#index_dolny_gmerek {
    font-size: 0.5cm + 0.2 * 7 * 6;
    color: #2d4791;
    vertical-align: sub;
  }
  
  p#mono_gmerek {
    font-size: 35 + 7 * 6;
    color: #113a23;
    font-family: monospace;
  }
  
  p#powiekszenie_gmerek {
    font-size: 40 + 7 * 6;
    color: #752095;
  }
  
  p#pomniejszenie_gmerek {
    font-size: 25 + 7 * 6;
    color: #175209;
    font-size: 90%;
  }